body {
    margin: 0;
    background-image:  url(../Background_Images/hex-Bkgrd.jpg);

}
.hex-background {
    background-image:   url(../Background_Images/hex-Bkgrd.jpg) !important;
}

.MainBodyOffset {
}
.multilevelpushmenu_inactive{
    background: transparent !important;
    /*position: fixed !important;*/
    top:    0px !important;
    left: 0px !important;
    border: none !important;
    box-shadow: none !important;
    max-height: 5em !important;
    height: 5em !important;
}
.ui-header-fixed{
    position: fixed;
    top: 0;
    left: 45px;
}

.login-bar {
    position: absolute;
    top: 0px;
    left: 55px; 
}
.login-bar .ui-validator{
    color: red;
    font-size: 12pt;
    vertical-align: middle;
    position: relative;
    top: -2px;
    left: -9em;
}
.logedin-bar{
    position: absolute;
    top: 5px;
    left: 55px;     
    width: 100%;
}
.logedin-bar .user-name{
    left: 40%;
    position: relative;
}
.logedin-bar .btn-group-right{
    float: right;
    padding-right: 6em;
}
.logedin-bar a{
    position: relitive;
    top: -3px;
    font-size: 0.8em;
}
.login-bar input {
    background-image:   url(../Background_Images/hex-Bkgrd.jpg) !important;
    color: goldenrod;
}

.no-content{
    height: 100em   ;
}
.table-thirds{
    width: 30%;
}
.cover-details-infoline {
    display: inline-table;
    margin-top: 1em;
}
.cover-details-infoline.multi-line{
    display: inline-flex;
    margin-top: 0.5em;
    margin-bottom: 0em;
}
.cover-details-element-label {
    display: inline;
    border: 2px solid;
    border-bottom-left-radius: 3em;
    border-top-left-radius: 3em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
.cover-details-element-label.multi-line {
    padding-right: 4em;
    text-align:  center;
    padding-top: 2.5%; 
    margin-top: 0em;
    margin-bottom: 0em;
}
.cover-details-element-detail {
    display: inline;
    border: 2px solid;
    border-bottom-right-radius: 3em;
    border-top-right-radius: 3em;
    margin-left: -3px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
.cover-details-element-detail.multi-line {
    display: inline-flex;
    padding-bottom: 0.5em;
    padding-top: 0.1em;
    padding-right: 2em;
    margin-top: 0em;
    margin-bottom: 0em;
}
.filter-list-genre{
    padding-left: 1em;
    padding-right: 1em;
}

.GenreFilterButton {
    font-size: 0.8em !important;
    padding: 0.2em 0.3em  !important;
}

.GenreFilterButton .ui-button-text{
    padding: 0 !important;
}

.genre-selected {
    border: 1px solid #ffaf0f !important;
	background: #f58400 url(images/ui-bg_inset-soft_30_f58400_1x100.png) 50% 50% repeat-x !important;
	font-weight: bold !important;
	color: #ffffff !important;
}

.genre-label {
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-right: 1em;
}

.cover-details-infoline #mov_lgPoster{
    float: right;
    top: inherit;
    position: relative;
    padding: 0.2em;
    border: 2px solid blue; 
    width: 300px;
    height:450px;
}

#CoverFlow {

    padding-top: 25px;
    padding-bottom: 90px;
    background: black;
    background-image:  inherit;
}
#CoverFlow .cover {
    cursor:     pointer;
    width:      200px;
    height:     250px;
    box-shadow: 0 0 4em 1em #000040;
}
#MenuHandle {
    /*float:      left;*/
    position:   absolute;
    top:        0px;
    background: black;
    height:     100em;
}
#menu {
    float:      left;
    position:   fixed;
    top:        0px;
    height:     100em;
    width:      15em;
    z-index:    1000;
    z-index:    99;
    left:       0;
}
#MovieFilterBox {

    background: black;
    width:      95%; 
    max-width:  95%;
    height:     8em;
    background-image:  inherit;

}

#MovieFilter div.cover {
    height:             6.5em;
    width:              60%;
    background-image:   url(../Background_Images/hex-Bkgrd.jpg);
    background-size:    40%;
    border: blue double 4px;
    border-radius:      30px;
    margin-top:         0.5em;
    margin-bottom:      0.5em;
}
#MovieFilter div p {
    text-align:         center;
    margin:             0.3em;
    margin-top:         -0.5em;
    font-weight:        700;

}

#FilterGeneral {
    background: blue;
}
#FilterRating {
    background: yellow;
}

div.tableContainer{
    display:    table;
    position:   relative;
    width: 100%;
    background-image:  url(../Background_Images/hex-Bkgrd.jpg);
}
div.tableRow{
    display: table-row;
    width: 100%;
    background-image:  inherit;
}

section.tableCell {
    display:    table-cell;
    background-image:  inherit;
    vertical-align: top;
    padding-right: 1em;

}

#Content{
    min-height: 30em;
}

#FilterAlpha {
    background: black;
    color: white;
}

#FilterAlpha span{
    text-align: center;
    vertical-align: top;       
    margin: 1em 1.2em 1em 1.0em;
    color: goldenrod;     
    cursor: crosshair;    
}

#FilterAlpha .filterGrooup {
    padding-top:   0.2em;
    padding-bottom: 1em; 
    text-align: center;
    margin-left: auto;
    margin-right:  auto;
}
.AlphaFilterActive{
    background-color: rgba(0,0,255,128);
    -webkit-box-shadow: 1px 1px 5px 10px rgba(0,0,255,128);
    -moz-box-shadow: 1px 1px 5px 10px rgba(0,0,255,128);
    box-shadow: 1px 1px 5px 10px rgba(0,0,255,128);

    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;

    -webkit-transition: box-shadow .4s ease;
    -moz-transition: box-shadow .4s ease;
    -o-transition: box-shadow .4s ease;
    -ms-transition: box-shadow .4s ease;
    transition: box-shadow .4s ease;
}

.star-theme {
    background: rgba(255,255,0,0.0);
    color: rgba(255,255,255,0.4);
    /*box-shadow: 0 0 1em 1px yellow;*/
    margin-left: 0.2em;
    margin-right: 0.2em;
}

#FilterTag
{
    background: black;
}

#FilterBar{
    height: 3em;
}

#FilterBar span{
}

.ui-ontop {
    z-index: 999 !important;
}

.tiny-btn{
    font-size: 0.8em;
    position: relative; 
    top: -3px;
}

.ui-icon { 
    display: inline; 
    text-indent: -99999px; 
    overflow: hidden; 
    background-repeat: no-repeat; 
}

.no-tab-padding {
    padding: 0 !important;
}

.Border{
    background-image:url(../Background_Images/Std_Header.png);
    background-position: top;
    background-repeat: no-repeat;   
}

.ui-review {
    padding-right: 3em;
    padding-left: 3em;
    text-align: justify;

}

.ui-review b {
    text-align: center;
    padding-left: 30%;
}


.Star-Rating {
    display: inline-block;
    padding-left: 5px;
}

.ui-filter-btn
{
    font-size: 0.8em;
    color:goldenrod;
}

.ui-plot-keywords{
    width:25em;

} 

/*This is the css for the new movie labels*/
.newLabel{
    vertical-align: top;
    color: white;
    width:0px; 
    height:0px; 
    border-style: solid; 
    border-width: 50px 50px 0px 0; 
    border-color: #007bff transparent transparent transparent; 
    position: absolute; left:0px; top:0
}

.newText{
    width:30px;
    margin-top:-45px;
    margin-left:5px;
}

.ui-new-movie-text{
    width:30px;
    margin-top:-51px;
    margin-left:5px;
}

.ui-new-movie-label{
    vertical-align: top;
    color: white;
    width: 0; 
    height: 0; 
    border-style: solid; 
    border-width: 50px 50px 0 0; 
    border-color: transparent transparent transparent transparent; 
    position: absolute; 
    left: 0; 
    top:0
}

.ui-recommended-movie-label{
    vertical-align: top;
    width: 0; 
    height: 0; 
    border-style: solid; 
    border-width: 50px 0 0 50px; 
    border-color: transparent transparent transparent transparent; 
    position: absolute; 
    right: 0; 
    top:0
}

.ui-recommended-movie-text{
    width:30px;
    margin-top:-45px;
    margin-left:-24px;
}

.ui-user-review
{

}
.ui-user-review a
{
    width: 100%;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}
