.logedin-bar.theme a{
    color: goldenrod;
}

.cover-details-element-label.theme {
    background: rgba(200,200,255,0.15);
    border-color: goldenrod;
    color: goldenrod;
}

.cover-details-element-detail.theme {
    border-color: goldenrod;
}

.filter-list-genre.theme{
    color: goldenrod;
}

.GenreFilterButton.theme{
    color: goldenrod;   
}

.genre-label.theme {
    
}

#menu.theme {
    color:      goldenrod;
}

#menu.theme a{
    color:      goldenrod;
}

#MovieFilter.theme div p {
    color:              goldenrod;
}

#FilterAlpha.theme span{
    color: goldenrod;     
}

#FilterAlpha.theme p {
    color: goldenrod;     
}

#FilterBar.theme span{
    color: goldenrod;
}

.ui-review.theme {
    color: goldenrod;
}

.ui-plot-keywords.theme{
    color: black;
    background: gray;
}
.ui-new-movie-label.theme{
    color: white;

    border-top-color: rgba(0,41,255,0.5); 
}
.ui-new-movie-text.theme{
}

.ui-recommended-movie-label.theme{
    color: white;
    border-top-color: rgba(0,41,255,0.5); ; 
}

.ui-recommended-movie-text.theme{
    color: gold ;
}