<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" ViewStateMode="Enabled" %>
<%@ Register Src="~/Header.ascx" TagName="Header" TagPrefix="WUC" %>
<%@ Register Src="~/Footer.ascx" TagName="Footer" TagPrefix="WUC" %>
<asp:ContentPlaceHolder ID="head" runat="server"> </asp:ContentPlaceHolder>
<asp:ContentPlaceHolder ID="body" runat="server"> </asp:ContentPlaceHolder>
