<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="InternalConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|HomeMediaDB.mdf;Integrated Security=True;User Instance=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
      <membership defaultProvider="MySecurityMembershipProvider">
        <providers>
          <add name="MySecurityMembershipProvider"
               applicationName="MyWebApplication"
               type="System.Web.Security.SqlMembershipProvider"
               requiresQuestionAndAnswer="false"
               requiresUniqueEmail="false"
               connectionStringName="InternalConnectionString" />
        </providers>
      </membership>
      <profile defaultProvider="MySecurityProfileProvider">
        <providers>
          <add name="MySecurityProfileProvider"
               applicationName="MyWebApplication"
               type="System.Web.Profile.SqlProfileProvider"
               connectionStringName="InternalConnectionString" />
        </providers>
      </profile>
      <roleManager enabled="true" defaultProvider="MySecurityRoleProvider">
        <providers>
          <add applicationName="MyWebApplication" connectionStringName="InternalConnectionString"
            name="MySecurityRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        </providers>
      </roleManager>
      <authentication mode="Forms" />
      <compilation debug="true" targetFramework="4.0"/>
    </system.web>
  </configuration>
